#root {
  max-width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  font-size: 1rem;
  /* box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5); */
  font-family:'Montserrat';
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
  transform: scale(1.1);

}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 155);
  background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
  border-radius: 40rem;
  width: 13rem;
  height: 13rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 33rem;
  height: 33rem;
  

}
.sparkle {
  fill: #7e7e7e;
  transition: all 800ms ease;
  padding-left: 10px;
}
.button:hover .sparkle {
  fill: rgb(0, 0, 0);
  transform: scale(1.1);
} 
/* .input{
  color: black;
  border: 2px solid #d6abff !important;
  border-radius: 20px !important;
  font-family:'Montserrat'; 
  background: transparent;
  border: none;
  padding: 1rem;
  border-radius: 1rem; 
  background: #e8e8e8;  
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;

} */

.input{
  padding-top:12px 12px !important;
}
 .output{
  padding: 20px 20px;
  margin-top:1.5vw;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(135deg,rgb(214, 135, 162) 0%, #9154c7 , #67c4b6 100%);
  border-radius: 7px;
  font-family:'Montserrat';
  cursor:grabbing;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 2rem;
}
.output:hover{
transform: scale(1.1);

/* remove */
  /* filter: blur(20px); */
  /* animation: effect infinite 1s linear; */
  /* remove */

}
.output:empty{
  display:none !important;
}
@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.card {
  position: relative;
  /* width: 350px;
  height: 250px; */
  /* background-image: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% ); */
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.para {
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  line-height: 1.4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card .card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card-btn {
  opacity: 1;
  scale: 1;
}

.card .card-btn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card .card-btn:active {
  scale: 0.95;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(-45deg, #f89b2980 0%, #ff0f7b80 100% ); */
  transition: transform 0.5s ease;
}

.card:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}
