#root {
  max-width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  font-size: 1rem;
  /* box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5); */
  font-family:'Montserrat';
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
  transform: scale(1.1);

}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 155);
  background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
  border-radius: 40rem;
  width: 13rem;
  height: 13rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 33rem;
  height: 33rem;
  

}
/* .input{
  color: black;
  border: 2px solid #d6abff !important;
  border-radius: 20px !important;
  font-family:'Montserrat'; 
  background: transparent;
  border: none;
  padding: 1rem;
  border-radius: 1rem; 
  background: #e8e8e8;  
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;

} */


 .output{

  /* padding-top: 10px; */
  padding: 20px 20px;
  margin-top:1.5vw;
  /* font-size: 16px; */
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  /* border:1px solid rgb(204, 136, 243); */
  background: linear-gradient(135deg, #9154c7 0%, #54c7b4 100%);
  border-radius: 7px;
  
  font-family:'Montserrat';
  cursor:grabbing;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 2rem;
}
.output:hover{
transform: scale(1.1);

/* remove */
  /* filter: blur(20px); */
  /* animation: effect infinite 1s linear; */
  /* remove */

}
.output:empty{
  display:none;
}
@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.newinput {
  border-style: none;
  height: 30px;
  width: 30px;
  /* padding: 10px; */
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  
  color: #FBF7F4;
}

.newinput::placeholder,
.newinput {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: "ColfaxAI", Helvetica, sans-serif;
    
  font-size: 1rem;
}

.newinput::placeholder {
  color: #8f8f8f;
  
}

.searchicon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width:50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
  background-color: #7859b1;
  margin-bottom:20px;
}
.searchicon:active{
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  
}
.searchicon:focus ~ .newinput,
.newinput:focus {
  box-shadow: none!important;
  width: 300px!important;
  border-radius: 0px!important;
  color: black;
  background-color: transparent!important;
  border-bottom: 1px solid #7e4fd4 !important;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2)!important;

}


